 <div class="moviename-calendar">
  <h2><%= @movie.name %></h2>
 </div>
 <div class='calendar-container'>
  <div class="day">
    <p>M</p>
    <p>T</p>
    <p>W</p>
    <p>T</p>
    <p>F</p>
    <p>S</p>
    <p>S</p>
  </div>
  <div class="date">
    <p>25</p>
    <p>26</p>
    <p>27</p>
    <p>28</p>
    <p><span class="rounded-circle">29</span></p>
    <p>30</p>
    <p>1</p>
  </div>
  <div class="month">
    <p id="margin-left">nov</p>
    <p>dec</p>
  </div>
</div>
<div class="container sessions-index">
<% if @movie.sessions.empty? %>
  <p>Sorry, there are no sessions available for this film</p>
  <% else %>
    <% @movie.cinemas.distinct.each do |cinema| %>
      <h3><%= cinema.name %></h3>
          <h4>Next sessions:</h4>
          <div class="sessions-list">
            <% @movie.sessions.joins(:room).where(rooms: { cinema_id: cinema.id }).each do |session| %>
            <div class="movie-sessions">
            <%# @movies.where(cinema: cinema).each do |session| %>
              <%#= link_to "#{session.showtime.strftime("%I:%M%p")}", movie_session_path(@movie, session), class: "btn red-button" %>
            <%# end %>
              <div class="session-each">
                <div class="session-discount animated pulse"><p>-<%= @sessions.first&.current_discounted_price.second.to_i %>%</p></div>
                <%= link_to "#{session.showtime.strftime("%I:%M%p")}", movie_session_path(@movie, session), class: "btn red-button" %>
              </div>
            </div>
            <div style="height:10px"></div>
           <% end %>
         </div>
    <% end %>
 <% end %>

 <div style="height:10px"></div>

 <%= link_to "Go back to search", movies_path, class: "btn grey-button" %>
 </div>
