<h2><%= @movie.name %></h2>


<!-- PRESS BUTTON TO CREATE BOOKING WITH SELECTED SEATS -->
<%= button_to 'Book', movie_session_bookings_path(@movie, @session), :action => "create", :remote=>true , class:"btn btn-primary"%>
<%= params.inspect %>

<div class="row" style="width: 100%">
  <div class="card-columns" >
    <% @room.seats.each do |seat| %>
      <div class="col-1">
        <div class="card seat-selectable" id="seat-<%= seat.id %>" style="width: 8rem;">
          <div class="card-body">
            <p class="card-title" >row:<%= seat.row %> column:<%= seat.column %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
