<h2><%= @movie.name %></h2>


<!-- PRESS BUTTON TO CREATE BOOKING WITH SELECTED SEATS -->
<%#= button_to 'Book', movie_session_bookings_path(@movie, @session), action: :create, class: "btn btn-primary" %>
<!-- make this a form (simple_form) -->
<!-- make the below items inputs -->
<%= form_with url: movie_session_bookings_path(@movie, @session), :html => { :id => 'bookings_form' }, method: :post, local: true do |f| %>
  <%#= select :booking, :seat_id, @room.seats.map{|s| [s.name, s.id]}, {} %>
  <div class="row" style="width: 100%">
    <div class="card-columns" style="width: 100%" >
      <% @room.seats.each do |seat| %>
          <% key = seat.id %>
            <label for="<%= key %>">
              <div class="card seat" data-booked="<%= seat.booked == true ? true : false %>" id="seat-<%= seat.id %>" style="width: 8rem;">
                <div class="card-body">
                  <p class="card-title" ><%= seat.name %></p>
                </div>
              </div>
            </label>

          <input type="checkbox"
                 name="seat_ids[]"
                 id="<%= key %>"
                 value="<%= key %>"
                 data-type="input"
                 false
                 hidden
          >
      <% end %>
    </div>
  </div>
  <%= f.submit "Book SimpleForm1", class: "btn btn-primary" %>
<% end %>
