<p id="notice"><%= notice %></p>

<div class="container">
<h2>Movies INDEX</h2>

 <div class="search-bar">
  <div class="search-form row">
    <div class="form-input">
  <%= form_tag movies_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a movie"
  %>
</div>
<div class="form-button">
  <%= submit_tag "Search" %>
</div>
<% end %>
 </div>
</div>

  <div class="row">
    <div class="card-columns">
      <% @movies.each do |movie| %>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= link_to movie.name, movie_path(movie) %></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
