 <div class="outer-container">

  <%= cl_image_tag(@movie.image, class: "booking-image") %>

  <div class="booking-info">
    <div class="infotext">
      <h2><%= @movie.name %></h2>
      <div class="rowinfo" id="checkout-row-showtime">
        <i class="far fa-calendar myicons"></i>
        <p class="checkout-row-title"> <%= @session.showtime.strftime("%A, %d %b %Y | %H:%M") %></p>
      </div>
      <div class="rowinfo">
        <i class="fas fa-map-marker-alt myicons"></i>
        <div>
          <p class="checkout-row-title" > <%= @cinema.name %> </p>
          <h4><%= @cinema.address %></h4>
        </div>
      </div>
      <div class="rowinfo">
        <i class="fas fa-tasks myicons"></i>
        <div>
          <p class="checkout-row-title" > Order Status </p>
          <h4><%= @order.state.capitalize %></h4>
        </div>
      </div>
      <div class="rowinfo">
        <i class="fas fa-ticket-alt myicons"></i>
        <div>
          <p class="checkout-row-title" > Ticket Amount </p>
          <h4><%= @order.bookings.count %> tickets</h4>
        </div>
      </div>
      <div class="rowinfo" id="checkout-row-bottom">
        <i class="fas fa-money-bill-wave myicons"></i>
        <div>
          <p class="checkout-row-title"> Price </p> <!-- ORDER PRICE ACCESSIBLE IN @ORDER -->
          <h4><%= humanized_money_with_symbol(@order.price) %></h4>
        </div>
      </div>
    </div>

    <!-- <div class="paymentinfo">
      <div>
        <p id="discount">80 kr</p>
        <p>Cinemapp reduced price</p>
      </div>
      <div class="buttonarea">
        <a class="btn red-button" href="#">Pay</a>
      </div>
    </div> -->
    <% if @order.state === "pending" %>
      <div class="buttonarea">

        <button id="pay" class="btn red-button payredbutton">Pay <%= humanized_money_with_symbol(@order.price) %></button>

        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @order.checkout_session_id %>',
            });
          });
        </script>

      </div>
    <% else %>
      <%= link_to "See My Tickets", dashboard_path, id: "pay", class: "btn red-button payredbutton" %>
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <script>swal("Payment Successful!", "", "success");</script>
    <% end %>

  </div>
  <div>
    <%= link_to movie_session_path(@movie, @session) do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
</div>
