<div class="container home">
  <div class="logo-home">
    <%= image_tag("cinemapp_logo.png", class: "logo") %>
  </div>

  <div class="films">
    <h2>Popular films</h2>
    <div id="carousel">
      <% @movies.each do |movie| %>
        <div class="home-movie-poster">
          <%= link_to movie_sessions_path(movie), class: 'movie-card' do %>
             <%= cl_image_tag movie.image %>
          <% end %>
          <div class="discount-highlight">

          </div>
            <div class="poster-content">
              <div class="poster-content-text">
                <h2><%= movie.name %></h2>
                <h3>Next session:</h3>
                <h5><%= movie.sessions.first&.showtime&.strftime("%d/%m %I:%M%p") %></h5>
                <h3><i class="fas fa-tags"></i> <span class="original-price"><%= @sessions.first&.base_price %> kr</span> | <%= @sessions.first&.current_discounted_price %> kr </h3>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
