
<div class="container sessions-index">
<h2><%= @cinema.name %></h2>
<%= link_to cinema_map_path(@cinema) do %>
   <h4><i class="fas fa-map-marker-alt"></i> <%= @cinema.address %></h4>
   <div style="height:10px"></div>
<% end %>

<div class="img-container">
<%= cl_image_tag(@cinema.image) %>
</div>
<h2>Upcoming sessions:</h2>
<% if @cinema.rooms.empty? %>
  <p>Sorry, there are no sessions available at this cinema</p>
  <% else %>
    <% @cinema.movies.distinct.each do |movie| %>
          <h3><%= movie.name %></h3>
          <h4>Next sessions:</h4>
          <div class="cinema-sessions">
          <% @cinema.sessions.where(movie: movie).each do |session| %>
            <%= link_to "#{session.showtime.strftime("%I:%M%p")}", movie_session_path(movie, session), class: "red-button session-each" %>
          <% end %>
        </div>
      <div style="height:10px"></div>
   <% end %>
 <% end %>

<div style="height:10px"></div>

<%= link_to "Go back to cinemas", cinemas_path, class: "btn grey-button" %>
</div>
